.main{
    margin-top:5%;
    text-align: center;
}

.cell {
    display: inline;
}

.siteCell{
    margin: 0 100px 0 100px;
}

.scroll{
    color: green;
    font-size: 70px;
}

.scroll:hover{
    cursor: pointer;
    color: gray;
}

.siteWord{
    font-size: 100px;
}

.siteWord:hover{
	cursor: pointer;
	color: blue;
}

.choice1 {
    margin-right: 200px;
}

.checkIcon {
    width: 150px;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

.choiceDiv {
    margin-top:50px;
}